<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>nguyen dac cuong</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam cum cupiditate rem. Accusamus eum quas hic, 
            quod aspernatur eius sed at beatae cumque, earum vel officiis nobis obcaecati dicta dolores!
        </p>
    </div>
</body>
</html>